@page
@model LNblitz.Pages.Wallets.IndexModel

@{
    ViewData["Title"] = "Your wallets";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Wallets.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wallet in Model.Wallets) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => wallet.Name)
                    </td>
                    <td>
                        <a asp-page="./Transactions/Index" asp-route-walletId="@wallet.WalletId">Transactions</a> |
                        <a asp-page="./Edit" asp-route-walletId="@wallet.WalletId">Edit</a> |
                        <a asp-page="./Details" asp-route-walletId="@wallet.WalletId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<p>
    <a asp-page="Create">Create a wallet</a>
</p>
