@page "/Wallets/{walletId}/Transactions"
@model LNblitz.Pages.Wallets.Transactions.IndexModel

@{
    ViewData["Title"] = $"{Model.Wallet.Name}: Transactions";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Transactions.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var transaction in Model.Transactions) {
            <tr>
                <td>
                    @Html.DisplayFor(t => transaction.Description)
                </td>
                <td>
                    @Html.DisplayFor(t => transaction.Amount)
                </td>
                <td>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-walletId="@Model.Wallet.WalletId" asp-route-transactionId="@transaction.TransactionId">Edit</a> |
                    <a asp-page="./Details" asp-route-walletId="@Model.Wallet.WalletId" asp-route-transactionId="@transaction.TransactionId">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<p>
    <a asp-page="Create" asp-route-walletId="@Model.Wallet.WalletId">Send</a> |
    <a asp-page="Create" asp-route-walletId="@Model.Wallet.WalletId">Recive</a>
</p>
