@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment Env;

<!DOCTYPE html>
<html lang="en" @(Env.IsDevelopment() ? " data-devenv" : "")>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>@ViewData["Title"] - @Model.AppName</title>
    <link href="~/css/btcpayserver-variables.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/btcpayserver-bootstrap.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/btcpayserver-main.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true"/>
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
    <link rel="mask-icon" color="#51b13e" href="~/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#0f3b21">
    <meta name="theme-color" content="#ffffff">
    <script src="~/js/theme.js" asp-append-version="true"></script>
</head>
<body>
    @RenderBody()
    <footer class="btcpay-footer footer">
        <div class="container d-flex align-items-center justify-content-between">
            <small>@Env.ApplicationName made with 💚 by <a href="https://bitcoindevlist.com/dennis-reimann/">d11n</a></small>
            <small>@Env.EnvironmentName</small>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
</body>
</html>
